body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.menu-item,
#cart-list li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.menu-item {
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f9f9f9;
}

.add-to-cart {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-item {
  background-color: #a7283b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#cart-list {
  margin-top: 20px;
}

.empty-cart {
  text-align: center;
  color: #999;
}

.success-message {
  max-width: 600px;
  margin: auto;
  background: rgb(10, 201, 0);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
